/*This code is for CSS code which applies to my academic page.*/
body {
    font-size: 20px;
}
.text-body {
    margin: 30px;
}
.nav-option {
    display: inline;
    margin: 10px 20px;
}

.nav-option a {
    color: #8686AC;
    text-decoration: none;
}

.nav-option a:hover {
    color: white;
    background-color: black;
}

.navbar-header h1 {
    display: inline;
}

.navbar {
    display: flex;
    gap: 15px;
}

#past {
    display: flex;
    flex-direction: column;
}
#past-starter{
    display: block;
}
#TMSCA, #NJHS, #FTC, #TAPPS {
    display: flex;
}
.logo {
    width: 40%;
    height: 40%;
}
#TAPPS .logo {
    width:40%;
    height: 30%;
}
#FTC .logo {
    width: 40%;
    height: 27%;
}