/*This file is for specific CSS code for the about/home page*/
#body-container {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#text-section {
    display: inline-block;
    justify-content: center;
}
#text-section h2 {
    font-size: 36px;
}
#text-section p {
    font-size: 20px;
}
.center-image{
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}
#title-header{
    font-size: clamp(40px, 4vw ,200px); /*clamp gives dynamic size scaling to the title*/
}
.center-text{
    text-align: center;
}
#contact-me h2 a{
    color: #8686AC;
}
header{
    /* flex display allows child elements to be easily sized to fit containers and place multiple elements on the same row*/
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
#about-me p {
    max-width: 700px;
    margin:auto;
}
#about-me a {
    margin: 0 20px;
    color: #8686AC;
    font-size: 20px;
}
