
.center-image{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
#title-header{
    font-size: 100px;
}
.center-text{
    text-align: center;
}
header{
    /* flex display allows child elements to be easily sized to fit containers and place multiple elements on the same row*/
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

/*NAV BAR*/
.navbar{
    display: flex;
    position:relative;
    gap: 15px;
}
.nav-list {
    list-style-type:none; /* sets it so that there's no list "dot"*/
}
.dropdown-host {
    position: relative; /* positions the dropdown menu to be under this html element*/
}
.dropdown-menu {
    display: none; /*display: none sets it to not be visible at the beginning*/
    position: absolute; /*once this thing gets displayed, this will make it hover over the website rather than pushing the website down*/
    top: 100%; /*positions the menu to be right under the navbar*/
    background-color: white;
    padding-top: 10px;
    min-width: 160px;
}
.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: black;
}
.dropdown-menu li a:hover { /*Changes background and text color of options when hovered over*/
    background-color: gray;
    color: white;
}
.dropdown-host:hover .dropdown-menu { /*shows menu when hovered over*/
    display:block;
}
.navbar-header {
    margin-right: 50px;
}